/* Lato font-family Init*/
@font-face {
  font-family: Lato;
  src: url(images/Lato/Lato-Light.ttf);
}

body {
  font-family: Lato;
  background: url(images/images/background.jpg);
}

section {
  height: 40em;
  width: auto;
}

/*Flex Position elements*/
.user {
  position: relative;
  top: 8em;;
}

.currentRound {
  position: relative;
  top: 16em;
  width: auto;
  margin: auto;
}

.gameSettings {
  text-align: center;
  position: relative;
  font-size: 1.1em;
}

#newGame {
  top: 5em;
}

#rollDice{
  bottom: 11.25em;
  display: none;
}

#hold{
  bottom: 11.75em;
  display: none;
}

#diceFace {
  position: relative;
  top: 22em;
  width: 6.5em;
  height: 5.25em;
}
/*End flex position elements*/

/*Custom text size and color for player score*/
#player1Score,#player2Score {
  font-size: 4em;
  color: crimson;
}

.gameSettings:hover{
  color: crimson;
  cursor: pointer;
}
