/* Lato font-family Init*/
@font-face {
  font-family: Lato;
  src: url(Lato/Lato-Light.ttf);
}

body {
  font-family: Lato;
  background: url(image/background.jpg);
}

.newGame,.rollDice,.hold {
  text-align: center;
  position: relative;
  font-size: 1.1em;
}

.newGame {
  top: 70px;
}

.rollDice {
  bottom: 85px;
}

.hold {
  bottom: 85px;
}

#player1Score,#player2Score {
  font-size: 4em;
  color: crimson;
}

.username {
  height: 25em;
}