/* Lato font-family Init*/
@font-face {
  font-family: Lato;
  src: url(images/Lato/Lato-Light.ttf);
}

body {
  font-family: Lato;
  background: url(images/background.jpg);
}

section {
  height: 30em;
  width: auto;
}

.user {
  position: relative;
  top: 5em;;
}

.currentRound {
  position: relative;
  bottom: -10em;
  width: auto;
}

.gameSettings {
  text-align: center;
  position: relative;
  font-size: 1.1em;
}

#newGame {
  top: 5em;
}

#rollDice{
  bottom: 9.5em;
}

#hold{
  bottom: 10em;
}

#diceFace {
  position: relative;
  bottom: 28em;
  width: 9%;
  height: 9%;
}

#player1Score,#player2Score {
  font-size: 4em;
  color: crimson;
}

.gameSettings:hover{
  color: crimson;
  cursor: pointer;
}

