/* Lato font-family Init*/
@font-face {
  font-family: Lato;
  src: url(images/Lato/Lato-Light.ttf);
}

body {
  font-family: Lato;
  background: url(images/background.jpg);
}

section {
  height: 40em;
  width: auto;
}

.user {
  position: relative;
  top: 8em;;
}

.currentRound {
  position: relative;
  top: 18em;
  width: auto;
}

.gameSettings {
  text-align: center;
  position: relative;
  font-size: 1.1em;
}

#newGame {
  top: 5em;
}

#rollDice{
  bottom: 11.5em;
}

#hold{
  bottom: 12em;
}

#diceFace {
  position: relative;
  bottom: 35.5em;
  width: 6.5em;
  height: 5.25em;
}

#player1Score,#player2Score {
  font-size: 4em;
  color: crimson;
}

.gameSettings:hover{
  color: crimson;
  cursor: pointer;
}

